body{
                overflow: hidden;
            }
            .page{
                display: grid;
                grid-template-columns: 1fr 4fr;
                height: 100vh;
                width: 100vw;
                position:fixed;
                inset: 0;
                z-index: -1;
                overflow: hidden;
            }
            .left-panel{
                position: relative;
                margin: 0;
                width: 400px;
                left: 0;
                bottom: 0;
                background-color: #7e8a64;
                background: linear-gradient(to bottom, #86936b,#7e8a64 60%,#76825e);
    
            }
            .left-panel:hover{
                filter: brightness(0.96);
                transition: filter 0.3s;
            }
            .cover{
                position: absolute;
                right: -50px;
                top: 150px;
                left: 250px;
                width: 280px;
                box-shadow: 0px 20px 40px rgb(0,0,0,0.20);
            }
            .cover:hover{
                transform: translateY(-3px);
                box-shadow: 0px 28px 55px rgba(0,0,0,0.25);
            }
            .right-panel{
                background-color: #F6F0D7;
                display: flex;
                flex-direction: column;
                position: relative;
                height: 724px;
                z-index: -2;
            }
            .right-panel:hover{
                filter: brightness(0.96);
                transition: filter 0.3s;
            }
            .content{
                margin-left: 180px;
                margin-top: 145px;
            }
            .sections{
                position: absolute;
                top: 40px;
                display: flex;
                gap: 50px;
            }
            .info, .reviews, .similar{
                font-size: 13px;
                color: #89986D;
                cursor: pointer;
                letter-spacing: 0.05em;
                transition: filter 0.3s;
            }
            .info:hover, .reviews:hover, .similar:hover{
                text-decoration: underline;
                filter: brightness(0.9);
                transform: translate(1);
                font-weight: bold;
            }
            .title{
                font-weight: bold;
                font-size: 34px;
                font-family: Tagesschrift;
                color: #7c8b62;
            }
            .author{
                margin-top: 5px;
                font-size: 20px;
                font-weight: 600;
                color: #89986D;
            }
            .rating{
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                color: #89986D;
                align-items: center;
                font-size: 15px;
            }
            .stars{
                width: 120px;
                margin-left: -10px;
                opacity: 0.7;
            }
            .description{
                width: 600px;
                max-width: 65ch;
                margin-top: 20px;
                line-height: 27px;
                margin-bottom: 50px;
                color: #78865f;

            }
            .read{
                background-color: #89986D;
                color: white;
                border: none;
                border-radius: 4px;
                padding: 6px 18px;
                cursor: pointer;
                box-shadow: 0 2px 6px rgba(0,0,0,0.12);
                margin-right: 10px;
            }
            .listen{
                background-color: #89986D;
                color: white;
                border: none;
                border-radius: 4px;
                padding: 6px 18px;
                cursor: pointer;
                box-shadow: 0 2px 6px rgba(0,0,0,0.12);
            }
            .read:hover, .listen:hover{
                filter: brightness(0.9);
                transform: scale(1.03);
            }
            .read-icon, .listen-icon{
                opacity: 0.9;
                width: 22px;
                vertical-align: middle;

            }
            @media (max-width: 1024px){
                .left-panel{
                    margin-left: -30vw;
                }
                .cover{
                    right: -1.5rem;
                }
                .content{
                    margin-left: 150px;
                }

            }
            @media (max-width: 650px){
                .left-panel{
                    margin-left: -35vw;
                }
                .cover{
                    right: auto;
                    left: 50%;
                }
                .content{
                    margin-left: 100px;
                }
            }
           